.address-container {
    /* margin-top: 50px; */
    margin-bottom: 20px;
    /* background-color: #e52269; */
    border-radius: 30px;
    height: 180px;
    margin-bottom: 110px;
}

.submitAddAddress {
    margin-top: 0px;
}

.form-group {
    margin-top: 40px;
    margin-bottom: -30px;
    font-size: 8px; /* Ukuran font diperkecil */
    color: white;
}

.submitAddAddress {
    margin-bottom: 0px;
    background-color: #e52269;
    color: white;
    border: none;
    border-radius: 10px;
    width: 100%;
    font-size: 16px; /* Ukuran font diperkecil */
    margin-top: 10px;
}

.formAddAddress {
    margin-top: 40px;
    width: 80%; /* Lebar form diperkecil */
}

.addAddress-container {
    margin-top: 10px;
    margin-bottom: -100px;
    background-color: #e52269;
    border-radius: 30px;
    height: 390px; /* Tinggi form diperkecil */
}

.add-address {
    margin-bottom: 27px;
}

