.addCategoryTitle {
    color: #555;
    font-weight: bold;
    font-size: 34px;
}

.TagUploadFile {   
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    display: flex;
    padding: 5px;
    color: #555;
    
}