/* Home.css */
.admin-dashboard {
    background-color: #fbf9fa; /* Ganti dengan warna yang diinginkan */
    padding: 20px;
  }
  
  .AdminDashboardContainer {
    background-color: #fbf9fa;
    padding: 20px;
  }