/* order.css */

.orderContainer {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.orderItems table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.orderItems th,
.orderItems td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.orderItems th {
  background-color: #f2f2f2;
}

.orderItems tr:hover {
  background-color: #f2f2f2;
}

.orderTotal {
  margin-top: 20px;
}

.orderTotal p {
  margin-bottom: 10px;
}

.orderButton {
  background-color: #e52269;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
