.orderListRow {
    display: flex;
    margin-left: 140px;
}

.orderList{
    font-weight: bolder;
    font-size: 40px;
}

.orderListTanggal {
    font-size: 20px;
    margin-top: 20px;
}

.orderListLayer1 {
    background-color: #eff0f2;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    width: 1000px;
    height: 1500px;
    flex-direction: column;
}

.orderListLayer2 {
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 640px;
    height: 180px;
    box-shadow: 5px 10px 20px -5px;
    
}

.eraseButton {
  top: -5px;
  right: -565px;
  background-color: #e52269;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  position: relative;
}


.orderListImage {
    width: 200px;
    border-radius: 30px;
    box-shadow: 5px 10px 20px -10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 10px;
    margin-top: -25px;
    margin-bottom: 30px;
  }
  
  .orderListText {
    font-size: 20px;
    margin-left: 20px;
    margin-top: -20px;
  }

  .orderListJudul {
    font-size: 20px;
    font-weight: bolder
  }

  .orderListHarga {
    font-weight: bolder
  }

  .orderListInput {
    box-shadow: 0px 10px 30px -10px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 20px;
    height: 30px;
    width: 200px;
  }

  .quantityControl {
    margin-top: 32px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

.quantity{
    margin-top: -500px;
}

.quantityText {
    margin-top: -30px;
    font-size: 40px;
}

.quantityButton1 {
    width: 30px;
    height: 30px;
    background-color: #e52269;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 5px;
}

.quantityButton2 {
    width: 30px;
    height: 30px;
    background-color: #e52269;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bolder;
}

.orderListLayer3 {
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 640px;
    box-shadow: 5px 10px 20px -5px;
}

.orderListGaris {
    margin-top: 10px;
    border: 2px black solid;
}

.orderListButton {
    background-color: #e52269;
    color: white;
    border: none;
    font-size: 22px;
    font-weight: bolder;
    height: 45px;
    border-radius: 20px;
    margin-top: 20px;
}

.orderCart {
    position: fixed;
    top: 0;
    width: 500px; /* Set the width of the cart */
    /* height: 100%; */
    z-index: 1000; /* Ensure it's above other content */
    transition: right 0.3s ease; /* Add a transition for smooth sliding animation */
  }
  
  .orderCartVisible {
    right: 500px; /* Slide in from the right when visible */
  }
  
  .orderCartHidden {
    right: -500px; /* Slide out to the right when hidden */
  }
  
  .backgroundOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparan hitam */
    z-index: 999; /* Atur z-index lebih rendah dari orderCart agar tidak menutupi orderCart */
  }

  .closeButton {
  background-color: #e52269;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: -50px;
  margin-left: 740px;
  cursor: pointer;
  display: flex;
  height: 50px;
  width: 50px;
}

.closeButton:hover {
  background-color: #d81b60;
}

.subtotal {
  font-size: 38px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;

  text-align: center;
}

.orderButton{
  background-color: #e52269;
  color: white;
  border: none;
  font-size: 22px;
  font-weight: bolder;
  height: 45px;
  border-radius: 20px;
  width: 400px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 150px;
  margin-top: 20px;
}

.pageButton {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.pageButton:hover {
  background-color: #f0f0f0;
}

.pagination {
  margin-top: 10px;
}

.subtotalLayer {
  margin-bottom: -20px;
  margin-top: 40px;
  margin-left: 70px;
  height: 300px;
  width: 800px;
  background-color: #f9fafc;
  padding-top: 130px;
  border-radius: 20px 20px 0px 0px;
  padding-left: 50px;
  box-shadow: 0px 0px 0px 0px black;
}

.tableCart {
  margin-top: -100px;
  width: 100%;
  border-collapse: collapse;
  margin-left: 80px;
  font-size: 20px;
  font-weight: bolder;
}

td {
  padding: 10px;
  text-align: left;
}

td:first-child {
  width: 50%;
}

.garisTotal {
  margin-top: 10px;
  border: 2px black solid;
  display: flex;
  height: 2px;
  margin-left: -50px;
  display: flex;
  margin-top: -50px;
  margin-bottom: 50px;
}

.paginationButtons button {
  margin-right: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: -10px;
}

.paginationButtons button.active {
  background-color: #e52269;
  color: #e52269;
}
