.popup-card-orderCart{
  position: fixed;
  top: 0;
  right: 0;
  width: 40%; /* Lebar popup */
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999; /* Di atas latar belakang */
  padding: 20px;
  transition: transform 0.3s ease; /* Efek slide */
  background-color: #eff0f2;
}

.orderListRow {
    display: flex;
    margin-left: 40px;
}

.orderList{
    font-weight: bolder;
    font-size: 15px;
    margin-left: -50px;
}

.orderListTanggal {
    font-size: 15px;
    margin-top: 20px;
}

.close-button-cart {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 10px;
  background-color: #e52269;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  width: 15px;
  height: 15px;
  padding: 0px;
}



.orderListLayer1 {
    background-color: #eff0f2;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.orderListLayer2 {
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    height: 100px;
    box-shadow: 5px 10px 20px -5px;
    
}

.eraseButton {
  top: 10px;
  right: 10px;
  background-color: #e52269;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  height: 25px;
  width: 25px;
  font-size: 10px;
  text-align: center;

}

.orderListImage {
    width: 100px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 20px -10px;

  }
  
  .orderListText {
    font-size: 10px;
    margin-top: -8px;
  }

  .orderListJudul {
    font-size: 10px;
    font-weight: bolder;
    margin-top: 20px;
  }

  .orderListHarga {
    font-weight: bolder
  }

  .orderListInput {
    box-shadow: 0px 10px 30px -10px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 20px;
    height: 20px;
    width: 200px;
  }

  .quantityControl {
    align-items: center;
    justify-content: center;
    display: flex;
}

/* .quantity{
    margin-top: -500px;
} */

.rowQuantityButton {
  padding-top: 90px;
  margin-top: -40px;
}

.quantityText {
    margin-top: 0px;
    font-size: 20px;
    text-align: center;
}

.quantityButton1 {
background-color: #e52269;
  color: white;
  border: none;
  font-size: 10px;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  display: flex;
}

.quantityButton2 {
  
  background-color: #e52269;
  color: white;
  border: none;
  font-size: 10px;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  display: flex;
}

.orderListLayer3 {
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 640px;
    box-shadow: 5px 10px 20px -5px;
}

.orderListGaris {
    margin-top: 10px;
    border: 2px black solid;
}

.orderListButton {
    background-color: #e52269;
    color: white;
    border: none;
    font-size: 22px;
    font-weight: bolder;
    height: 45px;
    border-radius: 20px;
    margin-top: 20px;
}

.paginationButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    color: white;
}


.orderCart {
    position: fixed;
    top: 0;
    width: 500px; /* Set the width of the cart */
    /* height: 100%; */
    z-index: 1000; /* Ensure it's above other content */
    transition: right 0.3s ease; /* Add a transition for smooth sliding animation */
  }
  
  .orderCartVisible {
    right: 500px; /* Slide in from the right when visible */
  }
  
  .orderCartHidden {
    right: -500px; /* Slide out to the right when hidden */
  }
  
  .backgroundOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparan hitam */
    z-index: 999; /* Atur z-index lebih rendah dari orderCart agar tidak menutupi orderCart */
  }

  

.closeButton:hover {
  background-color: #d81b60;
}

.subtotal {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.orderButton{
  background-color: #e52269;
  color: white;
  border: none;
  font-size: 12px;
  font-weight: bolder;
  height: 25px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  margin-top: 10px;
  width: 50%;
}

.pageButton {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.pageButton:hover {
  background-color: #f0f0f0;
}

.pagination {
  margin-top: 10px;
}

.subtotalContainer { 
  margin-top: 50px;
  width: 100%;
}

.subtotalLayer {
  margin-top: -30px;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  border-radius: 30px;
  background-color: #f9fafc;
  box-shadow: 0px 10px 30px 0.1px black;
}

.tableCart {
  /* margin-top: -100px;
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  text-align: center; */
  font-size: 30px;
}

td {
  text-align: left;
  font-size: 15px;
}

td:first-child {
  width: 50%;
}

/* .garisTotal {
 
} */

.paginationButtons button {
  margin-right: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: -10px;
}

.paginationButtons button.active {
  background-color: #e52269;
  color: white;
}
