/* order.css */

/* CSS untuk overlay dan popup */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Background hitam dengan opasitas 50% */
  display: flex;
  z-index: 1998; /* Di bawah overlay */
}

.popupOrder {
  display: flex;
}

.popup {
  display: flex;
  flex-direction: column; /* Mengatur layout menjadi column */
  background-color: white; /* Warna latar belakang popup */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efek bayangan */
  max-width: 90%; /* Maksimum lebar popup */
  width: 60%; /* Lebar popup */
  margin: auto;
}

.closeButtonOrder {
  align-self: flex-end; /* Mengatur agar tombol close berada di kanan */
  margin-top: 10px; /* Memberi jarak antara tombol close dengan konten lain */
  background-color: #e52269;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px;
}

.placeOrder {
  background-color: #e52269;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 150px; /* Lebar tombol */
  margin-top: 20px; /* Memberi jarak antara tombol place order dengan konten lain */
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  padding: 0px;
}

.orderTotalz {
  align-self: flex-end;
  font-weight: 700;
}

.selectColumn {
  width: 10px !important; /* Atur lebar sesuai kebutuhan */
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.orderItem {
  width: 200px !important; /* Atur lebar sesuai kebutuhan */
}

.orderQuantity {
  width: 10px !important; /* Atur lebar sesuai kebutuhan */
}

