.orderHistoryContainer {
  background-color: #e52269;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 10px;
}

.orderHistoryTitle {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.orderHistoryTable {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  align-items: center;
  justify-content: center;
  font-size: 12px; /* Mengurangi ukuran font tabel */
}

.orderHistoryTable th {
  text-align: center;
}

.orderHistoryTable th:first-child {
  width: 10%; /* Mengurangi lebar kolom Order ID */
}

.orderHistoryTable th:nth-child(2) {
  width: 10%; /* Mengurangi lebar kolom Action */
}

.orderHistoryTable td,
.orderHistoryTable th {
  padding: 4px; /* Mengurangi padding */
  text-align: center; /* Menengahkan teks di sel tabel */
  vertical-align: middle; /* Menengahkan teks secara vertikal di dalam sel tabel */
}

.orderHistoryTable th:first-child,
.orderHistoryTable td:first-child {
  text-align: left;
}

.orderHistoryButton {
  margin-right: 5px;
}

.invoiceContainer {
  margin-top: 20px;
}

.invoiceTitle {
  text-align: center;
  margin-top: 0;
}

.invoiceInfo {
  text-align: center;
  margin: 5px 0;
}

.invoiceTable {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 12px; /* Mengurangi ukuran font tabel */
}

.invoiceTable th,
.invoiceTable td {
  padding: 4px; /* Mengurangi padding */
  text-align: center;
}

.invoiceTable th:first-child,
.invoiceTable td:first-child {
  text-align: left;
}

.invoiceTable th:last-child,
.invoiceTable td:last-child {
  width: 15%; /* Mengurangi lebar kolom terakhir */
}

.orderOrder {
  width: 50px !important; /* Mengurangi lebar kolom */
}

.orderTotal {
  width: 120px !important; /* Mengurangi lebar kolom */
}

.orderStatus {
  width: 150px !important; /* Mengurangi lebar kolom */
}

.orderInvoice {
  width: 60px !important; /* Mengurangi lebar kolom */
}

.showInvoiceButton {
  background-color: #e52269;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.btnBackEdit {
  background-color: #e52269;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer; 
  width: 100%;
  margin-top: 10px;
}