/* Container utama */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Heading */
h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Label dan input */
label {
    display: block;
    margin-bottom: 0px;
    font-weight: bold;
    color: #555;
    font-size: 10px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 10px;
}

/* Button styles */
button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="button"]:first-of-type {
    background-color: #e52269;
    color: white;
}

button[type="button"]:last-of-type {
    background-color: #e52269;
    color: white;
}

/* Button hover effects */
button[type="button"]:first-of-type:hover {
    background-color: #e52269;
}

button[type="button"]:last-of-type:hover {
    background-color: #e52269;
}