.profile-table {
    width: 90%;
    margin: 50px auto; /* Mengatur margin atas dan bawah ke auto dan sisi kiri dan kanan ke auto untuk memusatkan */
    background-color: #fff;
    font-weight: 00;
    font-size: 10px;
    box-shadow: 0px 10px 20px -10px;
    margin-bottom: 0px;
}

.profile-table table {
    width: 100%;
    border-collapse: collapse;
}

.profile-table th, .profile-table td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 10px;
}

.profile-table th {
    background-color: #f2f2f2;
    font-size: 10px;
}

.title {
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: -40px;
    color: white;
}

.not-logged-in {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.box-not-logged-in {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px -10px;
    font-size: 20px;
}

.profile-info {
    margin-top: 10px;
    background-color: #e52269;
    border-radius: 30px;
    height: 420px;
}

.profile-info-belum-login {
    margin-top: -50px;
    margin-bottom: 20px;
    background-color: #e52269;
    border-radius: 30px;
    height: 400px;
}

/* .profile-info button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    font-size: 10px;
    background-color: #e52269;
    color: white;
    width: 80%;
    height: 20px; 
} */

.ButtonProfile {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.ButtonProfile button {
    background-color: #e52269;
    color: white;
    font-size: 10px;
    width: 100%;
    height: 22px;
    margin-top: -10px;
    margin-bottom: 20px; /* Memberikan jarak antar tombol */
}

.ButtonProfile button:last-child {
    margin-bottom: 0; /* Menghapus margin-bottom pada tombol terakhir */
}

