.profile-table {
    width: 80%;
    margin: 50px auto; /* Mengatur margin atas dan bawah ke auto dan sisi kiri dan kanan ke auto untuk memusatkan */
    /* margin-left: 50px;
    margin-right: 50px; */
    background-color: #fff;
    font-weight: 400;
    font-size: 18px;
    box-shadow: 0px 10px 20px -10px;
    margin-bottom: 0px;
}

.profile-table table {
    width: 100%;
    border-collapse: collapse;
}

.profile-table th, .profile-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.profile-table th {
    background-color: #f2f2f2;
}

.title {
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: -30px;
    color: white;
}

.not-logged-in {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.box-not-logged-in {
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px -10px;
    font-size: 40px;
}

.profile-info {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #e52269;
    border-radius: 30px;
    height: 730px;
}

.profile-info-belum-login {
    margin-top: -50px;
    margin-bottom: 20px;
    background-color: #e52269;
    border-radius: 30px;
    height: 700px;
}

.AddAddress {
    margin-top: 0px;
}