.tagListTitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tableTags {
  align-items: center;
  justify-content: center;
  color: #555;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-spacing: 0;
  border: 1px solid #ddd; /* Add border to table */
}

.tableTags th, .tableTags td {
  border: 1px solid #ddd; /* Add border to table cells */
  padding: 8px;
}

.thTag {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f2f2f2; /* Optional: Add background color to header */
}

.tbodyTag {
  border: 1px solid #ddd;
  align-items: center;
  justify-content: center;
}

.tag-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
}

.tag-no {
  width: 100px !important;
  text-align: center;
}

.tag-name {
  width: 150px !important;
  text-align: center;
}

.tag-image {
  width: 150px !important;
  text-align: center;
}

.tag-action {
  width: 150px !important;
  text-align: center;
}
